<a href="https://colab.research.google.com/github/raviteja1432/AI/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
import numpy as np
import math as mt
import random
import pandas as pd

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
data = pd.read_csv('/content/drive/MyDrive/Artificial intelligence/slr09.csv')
data.head()

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [26]:
data['X']

0     7.6
1     7.1
2     8.2
3     7.5
4     7.4
5     7.8
6     7.3
7     8.0
8     7.1
9     7.5
10    8.1
11    7.0
12    7.3
13    7.8
14    7.3
15    8.0
16    8.5
17    7.1
18    8.2
19    7.9
20    7.6
21    8.8
22    7.2
23    7.9
24    8.1
25    7.7
26    8.4
27    7.4
28    7.3
29    8.5
30    7.8
31    6.7
32    7.1
33    7.3
Name: X, dtype: float64

In [27]:
def normalize (column):
    c_max,c_min=np.max(column),np.min(column)
    for i in range (len(column)):
      column.iloc[i]=(column.iloc[i]-c_min)/(c_max-c_min)
    return c_max,c_min
x1max,x1min=normalize (data['X'])
y1max,y1min=normalize (data['Y'])
data.head()

          X         Y
0  0.428571  0.537445
1  0.190476  0.612335
2  0.714286  0.616740
3  0.380952  0.674009
4  0.333333  0.599119

In [28]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

In [29]:
m1=data['X'].mean()
m2=data['Y'].mean()
data['X'].fillna(value=m1, inplace=True)
data['Y'].fillna(value=m2, inplace=True)
data

           X         Y
0   0.428571  0.537445
1   0.190476  0.612335
2   0.714286  0.616740
3   0.380952  0.674009
4   0.333333  0.599119
5   0.523810  0.475771
6   0.285714  0.801762
7   0.619048  0.682819
8   0.190476  0.471366
9   0.380952  0.682819
10  0.666667  0.792952
11  0.142857  0.722467
12  0.285714  1.000000
13  0.523810  0.308370
14  0.285714  0.378855
15  0.619048  0.202643
16  0.857143  0.207048
17  0.190476  0.770925
18  0.714286  0.735683
19  0.571429  0.528634
20  0.428571  0.537445
21  1.000000  0.493392
22  0.238095  0.431718
23  0.571429  0.079295
24  0.666667  0.092511
25  0.476190  0.343612
26  0.809524  0.000000
27  0.333333  0.396476
28  0.285714  0.180617
29  0.857143  0.057269
30  0.523810  0.493392
31  0.000000  0.361233
32  0.190476  0.647577
33  0.285714  0.229075

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

In [31]:
m1=random.uniform(-10,10)
m2=random.uniform(-10,10)
c=random.uniform(-10,10)
eta=0.01
max_iter=100000

In [32]:
def gradient(m1,m2,c,x,y):
  m1_deriv=-1*(y-m1*x*x-m2*x-c)*x*x
  m2_deriv=-1*(y-m1*x*x-m2*x-c)*x
  c_deriv=-1*(y-m1*x*x-m2*x-c)
  return m1_deriv,m2_deriv,c_deriv

In [33]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m1,del_m2,del_c=gradient(m1, m2, c, x_train.iloc[sample], y_train.iloc[sample])
    m1=m1-eta*del_m1
    m2=m2-eta*del_m2
    c=c-eta*del_c
print('model parameter m1, m2 and c',m1,m2,c)

model parameter m1, m2 and c -0.21080839453697034 -0.13545338659968975 0.5663243740172735

In [34]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m1 * i*i)+(m2 * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [38]:
y_pred_test = []
for i in x_test:
  y_p_te = (m1 * i*i)+(m2 * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [44]:
#Denormalization
x_train=x_train*(x1max-x1min)+x1min
y_train=y_train*(y1max-y1min)+y1min
x_test=x_test*(x1max-x1min)+x1min
y_test=y_test*(y1max-y1min)+y1min
y_pred_train=np.multiply(y_pred_train,(y1max-y1min))+y1min
y_pred_test=np.multiply(y_pred_test,(y1max-y1min))+y1min

In [45]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 7587708.219389326
Mean square error 57573316022588.336
Mean absolute error 7090217.983466264

In [46]:
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse)
mse = mt.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse)  
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Mean square error 4015.1563768996316
Root mean square error 63.365261594186066
Mean absolute error 54.63426878251255

In [48]:
x_train['ytrain']=y_train
x_train['ytrainpred']=y_pred_train
x_train

14                                                       52.963
29                                                       58.255
13                                                       55.168
1                                                        52.081
21                                                       59.578
18                                                       56.932
20                                                       54.286
6                                                        52.963
11                                                        51.64
32                                                       52.081
19                                                       55.609
26                                                       57.814
4                                                        53.404
24                                                       56.491
10                                                       56.491
31                                                       50.317
33                                                       52.963
8                                                        52.081
30                                                       55.168
16                                                       58.255
25                                                       54.727
28                                                       52.963
27                                                       53.404
17                                                       52.081
0                                                        54.286
15                                                        56.05
9                                                        53.845
ytrain        14     6242989.0
29     2481372.0
13     54185...
ytrainpred    [150.86410463960715, 102.04259641217492, 134.3...
Name: X, dtype: object

In [49]:
x=input("Enter value of input")
estimation=m1*float(x)*float(x)+m2*float(x)+c
print("estimated output:",estimation)

Enter value of input8
estimated output: -14.009039969146347